# Xcode SessionM-Unity Project
iOS-SDK/SessionM-Unity.xcodeproj/project.xcworkspace/xcsharedata/
iOS-SDK/SessionM-Unity.xcodeproj/xcuserdata/
iOS-SDK/SessionM-Unity.xcworkspace/xcshareddata/
iOS-SDK/SessionM-Unity.xcworkspace/xcuserdata/

# Unity Test App Projects
Plugin_Prime31/Library/
Plugin_Prime31/Temp/
Plugin_Prime31/SessionMXcodeUpdatePostBuild.log
Plugin_BaseActivity/Library/
Plugin_BaseActivity/Temp/
Plugin_BaseActivity/SessionMXcodeUpdatePostBuild.log
SampleApp/SessionMXcodeUpdatePostBuild.log
